


   <!-- 2nd new code -->
   <div class="background-container">
    <img src="assets/check1.svg" class="background-image" alt="Background Image" />
  
    <div class="foreground-content">
      <div class="container">
        <!-- Login Form Section -->
        <div class="signup-form">
          <div class="form-content">
            <h2>Super Admin</h2>
            <input type="text" placeholder="Name" [(ngModel)]="username" name="username" required />
            <input type="password" placeholder="Password" [(ngModel)]="password" name="password" required />
            <button (click)="login()">Login</button>
          </div>
        </div>
  
        <!-- Right-side Message Section -->
        <div class="login-message">
          <div class="message-content">
            <!-- <img src="/ignitialogofinal.png" alt="Logo" class="logo" width="60" height="60" /> -->
            <img src="assets/ignitialogofinal.png" alt="Logo" class="logo" width="60" height="60" />
            <h3>Ignitia Infotech</h3>
            <p>Where Ideas Meet Technology</p>
            <p>IGNITE. INNOVATE. EVOLVE.</p>
            <!-- <footer>&copy; 2025 Ignitia Infotech</footer> -->
          </div>
        <div class="bottom">  <footer>&copy; 2025 Ignitia Infotech, all rights reserved.</footer></div>
        </div>
      </div>
    </div>
  </div>
  